<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanghui.elephant.store.mapper.MessageEntityMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yanghui.elephant.store.entity.MessageEntity">
		<id column="id" property="id" />
		<id column="message_id" property="messageId" />
		<id column="group" property="group" />
		<id column="destination" property="destination" />
		<id column="body" property="body" />
		<id column="status" property="status" />
		<id column="send_status" property="sendStatus" />
		<id column="transaction" property="transaction" />
		<id column="properties" property="properties" />
		<result column="remark" property="remark" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	
	<select id="queryTransactionNotComplete" resultMap="BaseResultMap">
		SELECT * FROM t_message WHERE status = 100
		and `transaction` = 1
		and create_time &lt;= DATE_ADD(NOW(), INTERVAL -1 MINUTE)
	</select>
	
	<update id="updateByMessageId" parameterType="com.yanghui.elephant.store.entity.MessageEntity">
		update t_message 
		<set>
			<if test="status != null">status = #{status},</if>
			<if test="sendStatus != null">send_status = #{sendStatus},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
		</set>
		where message_id = #{messageId}
	</update>
	
	<select id="querySendMQExcetion" resultMap="BaseResultMap">
		SELECT * FROM t_message WHERE status = 102
		and send_status = 1
		and create_time &lt;= DATE_ADD(NOW(), INTERVAL -1 MINUTE)
	</select>
</mapper>
