<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout charset="utf-8" pattern="%d %-5p %t %c.%M:%L - %m%n" />
		</Console>
		<RollingFile name="FILE" fileName="/usr/local/logs/elephant-server.log"
			append="true" filePattern="/usr/local/logs/elephant-server.%d{yyyy-MM-dd}.log">
			<PatternLayout charset="utf-8"
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %t %-5p [%c][%M:%L] - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
		</root>
	</loggers>
</configuration>