<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout charset="utf-8" pattern="%d %-5p %t %c.%M:%L - %m%n" />
        </Console>
    </appenders>
    <loggers>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </loggers>
</configuration>